/* body{
    overflow-x: hidden;
} */


.navbar{
    padding-left: 28px;
    padding-right: 15px;
}



.logo{
    height: 70px;
    width: 40px;
}

.logo_name{
    font-size: 13px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
}

ul{
    list-style: none;
}

.nav-link{
    margin-right: 50px;
}

.nav-text{
    font-size: 12px;
    font-family: 'Roboto Condensed', sans-serif;
}

.search_button{
    border: none;
    background-color: #ffffff;
}

#test{
    margin-right: 10px;
    width: 200px;
    border: none;
    display: none;
}

#list_of_developments{
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 20px;
    text-align: center;
    margin-bottom: 20px;
}



.size{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.size:hover{
    box-shadow: 5px 10px 8px #888888;
}



.tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.size:hover .tooltiptext{
    visibility: visible;
}

.first_paragraph{
    margin-bottom: 20px;
}

.page_info{
    display: flex;
    flex-direction: column;
    padding-left: 12.5rem;
    padding-right: 12.5rem;
}

div > .nav-link{
    padding-left: 0px;
} 


@media only screen and (max-width: 992px) {
    .page_info{
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media only screen and (max-width: 768px) {
    .size{
        height: 100px;
        width: 100px;
    }

    .page_info{
        padding-left: 20px;
        padding-right: 20px;
    }

    #list_of_developments{
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 768px) {
    .first_paragraph_title .second_paragraph_title{
        font-size: 20px;
    }
    .first_paragraph_info .second_paragraph_info{
        font-size: 18px;
    }
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #007b5e !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}